h1{
    color: #03045e;
}

/*cambier color por defecto* y subrayado*/
a:link{
    color: #023e8a;
    text-decoration: none;
}

/*color cuando ya se haya dado click*/
a:visited{
    color: #48cae4;
    text-decoration: none;
}

/*al colocarse encima del link*/
a:hover{
    color: #0077b6;
    text-decoration: underline;

}

/*al dar click en el link*/
a:active{
    color: red;
    text-decoration: overline;
}